* {
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
}

.container {
    border: 2px solid 	#4169E1;
    padding: 5% 4% 1.5% 2.5%;
    margin-top: 10%;
    margin-left: 30%;
    height: 250px;
    width: 385px;
}

.form-group {
    padding: 0px;
    height: 50px;
    
}

label {
    display: inline-block;
}

.col-label {
  color: #f1f0ee;
  text-align: center;
  float: left;
  width: 20%;
  padding: 7.5px 9px;
  border: 2px solid 	#497093;
  background-color: #4169E1;
}

.col-input{
  float: left;
  width: 70%;
}

.submit {
    text-align: center;
    margin-top: 4%;
}


/** detail */
input[type=text], select {
    border: 2px solid 	#4169E1;
    margin-left: 7%;
    width: 95%;
    height: 31px;
}

.radio-item {
  display: inline-block;
  position: relative;
  cursor: pointer;
  user-select: none;
  padding-left: 25px;
  margin-top: 15px;
  margin-left: 11%;
  
}

.radio-item input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  border: 2px solid 	#4169E1;
  border-radius: 50%;
}

.radio-mark:after{
  content:"";
  position:absolute;
  display:none;
  
}

.radio-item .radio-mark:after{
  top: 50%;
  left: 50%;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  border: 2px solid white;
  transform: translate(-50%,-50%) rotate(45deg);
  
}

.radio-item input:checked ~ .radio-mark{
  background: #4169E1;
  
}

.radio-item input:checked ~ .radio-mark:after{
  display:block;
  
}

select {
    width: 50% !important;
    height: 37px !important;
    
}

input[type=submit] {
    color: #f1f0ee;
    font-weight: 900;
    border: none;
    border-radius: 8px;
    border: 2px solid 	#4169E1;
    background-color: #32CD32;
    padding: 9px 28px;
}